[Unit]
Description=Gitea backup with borg

[Service]
Type=oneshot
User=root
Group=root
WorkingDirectory=/
ExecStart=/bin/borg create \
    -C lzma 
    /nas/backup/gitea::{now}
    /var/lib/gitea
ExecStart=/bin/borg check \
    --verbose
    /nas/backup/gitea
